<!DOCTYPE html>
<html lang="en">

<title>insta485</title>
    
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    
<body>
    <div class="header">
        <div id="left"> 
            <div id="icon">
                <a href="/"><img src="/images/instagram.png" alt="Instagram Icon" width="40" height="40"></a>
            </div>
            <div id="insta485">
                <a href="/"><h1 style="font-family: 'Courier'"><i style="font-family: cursive;">Insta</i>485</h1></a>
            </div>
        </div>
        <div id="right">
            <div id="explore">
                <a href="/explore/"><h1>explore</h1></a>
            </div>
            <div id="username">
                <a href="/users/{{logname}}/"><h1>{{logname}}</h1></a>
            </div>
        </div>
    </div>
    <br><br>
    <div class="body">
        {% for post in posts %}
            <div class="post">
                <div class="post-header">
                    <div class="post-left">
                        <div id="user-img-{{post.postid}}">
                            <a href="/users/{{post.owner}}/"><img src="{{post.owner_img_url}}" alt="Profile Pic Of {{post.owner}}" width="30" height="30"></a>
                        </div>
                        <div id="user-{{post.postid}}">
                            <a href="/users/{{post.owner}}/"><h1 style="font-size: 15px;">{{post.owner}}</h1></a>
                        </div>
                    </div>
                    <div class="post-right">
                        <a href="/posts/{{post.postid}}/"><h1 style="font-size: 15px; color: grey;">{{post.timestamp}}</h1></a>
                    </div>
                </div>
                <img src="{{post.img_url}}" alt="Baby Chickens Cuddling">
                <br>
                <div id="likes-and-comments-{{post.postid}}">
                    {% if post.likes == 1 %}
                        <p>{{post.likes}} like</p>
                    {% else %}
                        <p>{{post.likes}} likes</p>
                    {% endif %}
                    {% for comment in post.comments %}
                        <p><a href="/users/{{comment.owner}}/"><b>{{comment.owner}}</b></a> {{comment.text}}</p>
                    {% endfor %}
                </div>
            </div>
            <br>
        {% endfor %}
        
    </div>
</body>
</html>