<!DOCTYPE html>
<html lang="en">

<title>insta485</title>
    
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    
<body>
    <div class="header">
        <div id="left"> 
            <div id="icon">
                <a href="/"><img src="../static/images/instagram.png" alt="Instagram Icon" width="40" height="40"></a>
            </div>
            <div id="insta485">
                <a href="/"><h1 style="font-family: 'Courier'"><i style="font-family: cursive;">Insta</i>485</h1></a>
            </div>
        </div>
        <div id="right">
            <div id="explore">
                <a href="/explore/"><h1>explore</h1></a>
            </div>
            <div id="username">
                <a href="/users/{{logname}}/"><h1>{{logname}}</h1></a>
            </div>
        </div>
    </div>

    <div>
        <!-- DO NOT CHANGE THIS -->
        <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
            <input type="password" name="password" required/>
            <input type="password" name="new_password1" required/>
            <input type="password" name="new_password2" required/>
            <input type="submit" name="update_password" value="submit"/>
            <input type="hidden" name="operation" value="update_password"/>
        </form>

        <a href="/accounts/edit/"><b>Back to edit account</b></a>
    </div>