.header {
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: solid 1px #000;
    display: flex;
    justify-content: space-between;
}

img {
    width: 100%;
}

#icon {
    margin: auto;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: solid 1px #000;
}

#insta485 {
    width: 140px;
    display: flex;
    justify-content: center;
}

#left {
    display: flex;
    align-items: center;
}

#right {
    display: flex;
    align-items: center;
}

#explore {
    height: 18px;
    width: 70px;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid 1px #000;
}

#username {
    height: 23px;
    width: 85px;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.user_prof_pic img {
    margin: 10px;
    width: 40px;
    height: 40px;
    
}

.post {
    border: solid 1px #000;
}

.post-header {
    display: flex;
    justify-content: space-between;
}

.post-left {
    display: flex;
    align-items: center;
}

.user-img {
    margin-left: 15px;
    height: 55px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user {
    width: 70px;
    display: flex;
    justify-content: center;
}

.post-right {
    margin-right: 15px;
    height: 55px;
    display: flex;
    align-items: center;
}

.likes-and-comments {
    text-indent: 10px;
    margin-bottom: 20px;
}

#user-img-2 {
    margin-left: 15px;
    height: 55px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-2 {
    width: 70px;
    display: flex;
    justify-content: center;
}

#likes-and-comments-2 {
    text-indent: 10px;
    margin-bottom: 20px;
}

#user-img-3 {
    margin-left: 15px;
    height: 55px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-3 {
    width: 70px;
    display: flex;
    justify-content: center;
}

#likes-and-comments-3 {
    text-indent: 10px;
    margin-bottom: 20px;
}

#user-img-4 {
    margin-left: 15px;
    height: 55px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-4 {
    width: 70px;
    display: flex;
    justify-content: center;
}

#likes-and-comments-4 {
    text-indent: 10px;
    margin-bottom: 20px;
}

#awdeorios-username {
    margin-bottom: 20px;
    font-size: 35px;
}

.awdeorios-img {
    width: 300px;
    margin: 10px;
}